.produto-todo {
    padding: 0 15px;
    background: #fafafa;

               
    @media (min-width: 700px) {
        padding: 0 50px;
    }
    
    .breadcrumb {        
        margin: 16px 0;
        p {
            font-size: 12px;

            @media (min-width: 700px) {
                font-size: 18px;
            }
        }

        a {
            text-decoration: none;
            color: #F00;
        }
    }
    .titulo {
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 24px;
               
            @media (min-width: 700px) {
                font-size: 24px;
                margin-bottom: 16px;
            }
    }

    .detalhes-produto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        @media (min-width: 700px) {
            width: 100%;
        }

        img {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
            
            @media (min-width: 700px) {
                width: 100%;
                max-width: 347px;
                margin-left: 0;
            }
        }
     
        .detalhes {
            display: flex; 
            width: 100%;
            flex-direction: column-reverse;
            justify-content: flex-end;

            @media (min-width: 700px) {
                width: 50%;
            }
        }

        .valor {
            margin-bottom: 16px;
            font-size: 30px;
            font-weight: bold;
        }
    }

    .detalhes-album {    
        width: 100%;
        margin-top: 22px;

        @media (min-width: 700px) {
            width: 50%;
        }
        .informacoes {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: calc(100% - 130px);
            background: #f6f6f6;
            border-radius: 4px;
            padding: 16px 24px;
        }
        h4 {
            margin-bottom: 8px;
            font-size: 20px;
            font-weight:  bold;
        }
        .compra {
            align-self: flex-end;
            text-align: center;
            

            .button {
                background: #ff4651;
                color: #ffffff;
                padding: 16px 62px;
                margin: 24px auto;
                font-size: 18px;
                border-radius: 38px;
                font-weight: bold;
            }
        }
    }
}

