.cart {
    background: #ffffff;
    border-top: 1px solid #cccccc;
    height: 100%;
    .header {
        background: #444444;
        text-align: center;
        height: 61px;
        padding: 16px;
        color: #ffffff;
        h3 {
            margin-top: 0;
        }
    }
    .products-container { 
        background: #B8B8B8;
        h4 {

        }
    }
    .products {    
        padding: 8px;
        .item {
            width: 300px;
            height: 45px;
            margin: 8px;
            padding: 8px;
            overflow: hidden;
            flex-direction: row;
            border: none;
            text-align: left;
            align-items: center;
            .title  {
                font-size: 12px;
                margin: 0;
                width: calc(100% - 70px);
            }
            .price  { 
                width: 50px;
                font-size: 12px;
            }
        }

    }
    .total {
        position: fixed;
        bottom: 0;
        height: 140px;
        width: 100%;
        background: #cccccc;
        text-align: center;
        .cart-price {
            padding: 20px;
        }
        .finalizar {
            width: 100%;
            color: #ffffff;
            background: #000000;
            padding: 20px;
            font-weight: bold;
        }
    }
    
}